.footer {
  grid-area: 4 / 1 / 5 / 4;
  background-color: $color-backgrond-titles;
  margin-top: 5px;

  .footer__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @each $red, $color in $redes {
      .footer__item--#{$red} {
        color: $color;
      }
    }
  }
}
