header {
  grid-area: 1 / 1 / 2 / 4;
  background-color: $color-background;
  background-image: url("../images/logoPrent.png");
  background-repeat: no-repeat;
  background-size: 25vh;
  background-position: center top;
}

.logo {
  grid-area: 3 / 2 / 4 / 4;
}
