.index {
  background-image: url("../images/products/PIN43502.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
  display: flex;

  .index__novedades {
    text-align: left;
    width: 20%;
    margin-top: 60px;

    .index__novedades--title {
      font-size: 25px;
      padding: 10px;
      font-weight: 300;
    }

    .index__novedades--text {
      font-weight: 100;
    }
  }

  .index__aux {
    width: 60%;
  }

  .index__ofertas {
    text-align: right;
    width: 20%;
    margin-top: 60px;

    .index__ofertas--title {
      font-size: 25px;
      padding: 10px;
      font-weight: 300;
    }

    .index__ofertas--text {
      font-weight: 100;
    }
  }
}
