.preguntasFrecuentes {
  .preguntasFrecuentes__tittle {
    padding: 5px;
    margin: 20px;
    font-size: 35px;
    background-color: $color-backgrond-titles;
  }

  .preguntasFrecuentes__subtittle{
      padding: 5px;
      margin-left: 30px;
      font-size: 25px;
      
  }

  .preguntasFrecuentes__text{
      padding: 2px;
      margin-left: 60px;
      margin-right: 60px;
      font-size: 20px;
  }
}
